@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.footer{
    width: 100vw;
    /* text-align: center; */
    /* padding: 0 20rem 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #ADEFD1ff;
}
.footer h1{
    font-size: 20vw;
    margin: 0 auto;
    text-align: center;
}
 
.footer p{
   
  font-family:  "Allura" , cursive;
  font-weight: 400; 
  font-size: 5vw;
  position: relative;
   text-align: center;
   padding-left: 3%;
}

.footer li a{
    color: grey;
    font-size: 3rem;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    width: 100%;
}
.footer li a:hover{
    color:  #00203FFF;
    font-size:  3.5rem;
}
.footer li{
    list-style:none;
}
.footer li::before{
    content:"\2022";
    color:  #800080;
    display: inline-block;
    width:  1em ;
    margin-left: -1em;
   font-size:  2rem;
}

@media  (max-width:580px) {
    .footer li a{
        
        font-size: 1rem;
        
    }
}