
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
.Home{
   background-color:  #00203FFF ;
  width:  100%;
   height:   100vh;
   text-align: center;
   padding-top: 5%;
}
/* #5271ff;   #00539Cff */
.navbarr{
     position: fixed;
    background-color:  #00203FFF ;
   width: 100vw;
  height:  auto;
  display: flex;
  justify-content:  space-between;
  align-items:  flex-end;
  border-bottom: solid  rgba(0, 0, 0, 1) 1px; 
  /* 0.13 */
  z-index:  50;
  
}
  
  .navlist{
      display: flex;
    width:  max-content;
     margin-right: 1rem;
    align-items: flex-end;
    margin-bottom: 0;
    
 }
 .navlist li{
     list-style: none;
      padding: 0 1rem; 
      color: black;
 } 
 .navlist li:hover{
   color: blue;
 }
 .navlist .active{
   border-bottom: solid yellow 2px;
 }
 
.navactive{
   border-bottom: solid yellow 2px;
}

 .navlist  a{
    text-decoration: none;
    font-family: 'Caveat',cursive;
    font-weight: 700;
    font-size: 2rem;
    transition: 1s;
}
 
.navlogo{
    width: 5%;
    margin: 0 0 0 2.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.navlogo:hover{
   filter:  opacity(0.1) drop-shadow(0 0 0 blue) drop-shadow(0 0 0 blue)  drop-shadow(0 0 0 blue) drop-shadow(0 0 0 blue) drop-shadow(0 0 0 blue) drop-shadow(0 0 0 blue)  drop-shadow(0 0 0 blue);
   
}

@media  (max-width:580px) {
    .navlogo{
      display: none;
    }
    .navbarr{
      justify-content: center;
    }
    /* .navlist a{
      font-size: 1rem;
    } */
    .firsth1{
       margin: 20px;
    }
}

 /* navbar over */

 .title{
     display: inline-block;
    font-family: 'Caveat';
    font-size: 7rem;
    color: blue;
    cursor:default;
    transition: 1s ease-in;
 }
 .title:hover{ 
  color: black;

 }
.belowline  {
      margin: 0 auto;
      width: 100%;
      max-width: 1200px;
     max-height: 5%;
     display: block;
}
 .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
 }
 .icons li{
    list-style: none;
 }
 .fa-brands{
    font-size: 4rem;
    color: black;
    transition: 0.5s;
 }
 .fa-brands:hover{
   color: blue;
 }

 .btn a{
   color: black;
   text-decoration: none;
   font-family: 'Caveat';
   font-weight: 700;
   font-size: 1.5rem;
 }

/* CSS */
 